<td class="delete">
    <a href="#/delete/{{this.docId}}">{{this.id}}</a>
</td>
<td>{{this.first_name}}</td>
<td>{{this.last_name}}</td>
<td>{{this.email}}</td>
<td>{{this.job_title}}</td>
<td class="filter">
    <a href="#/filter/{{this.department}}">{{this.department}}</a>
</td>